<div>
  <label>Hero name:</label>
  <input #heroName />
  <a class="waves-effect waves-light btn" (click)="add(heroName.value); heroName.value=''">
    Add
  </a>
</div>
<br />

<span>My Heroes</span>  

<div class="row">
  <div class="collection">
    <a *ngFor="let hero of heroes" [class.active]="hero === selectedHero" (click)="onSelect(hero)" class="collection-item">
      <div>{{hero.name}}<a class="secondary-content"><i class="material-icons" (click)="delete(hero); $event.stopPropagation()">delete</i></a></div>
    </a>
  </div>
</div>


<div *ngIf="selectedHero">
  <span>
    {{selectedHero.name | uppercase}} is my hero
  </span>
  <a class="btn" (click)="gotoDetail()">View Details</a>
</div>